header img {
    height: 80px;
    margin-left: 40px;
}
body {
    height: 125vh;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
}

img.logo {
	border-radius: 50%;
}

header {
    background-color: #40E0D0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: black;
    text-decoration: none;
}

p.welcome {
	text-align: center;
	font-size: 30px;
	font-family: papyrus, fantasy;
	border-bottom-style: solid;
	border-width: 5px;
}
p.softswerve {
		font-size: 35px;
		font-family: papyrus, fantasy;
		color: purple;
}
img.softswerve {
		float: right;
		height: 350px;
		width: 350px;
}
p.soft {
	font-size: 25px;
	line-height: 2;
	font-family: Times New Roman;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	text-indent: 50px;
	word-spacing: 5px;
}
p.softaddress {
	word-spacing: 5px;
}
p.eggloo {
		font-size: 35px;
		font-family: papyrus, fantasy;
		color: #ffd700;
}
p.eggaddress {
	word-spacing: 5px;
}
img.eggloo {
		float: right;
		height: 350px;
		width: 350px;
}
p.egg {
		font-size: 25px;
	line-height: 2;
	font-family: Times New Roman;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	text-indent: 50px;
	word-spacing: 5px;
}
p.taiyaki {
		font-size: 35px;
		font-family: papyrus, fantasy;
		color: #ff00ff;
}
img.taiyaki {
		float: right;
		height: 350px;
		width: 350px;
}
p.taiyakiaddress {
	word-spacing: 5px;
}
p.taiyakipar {
	font-size: 25px;
	line-height: 2;
	font-family: Times New Roman;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	text-indent: 50px;
	word-spacing: 5px;
}
p.milkcream {
		font-size: 35px;
		font-family: papyrus, fantasy;
		color: blue;
}
img.milkcream {
		float: right;
		height: 350px;
		width: 350px;
}
p.mcaddress {
		word-spacing: 5px;
}
p.mcpar {
	font-size: 25px;
	line-height: 2;
	font-family: Times New Roman;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	text-indent: 50px;
	word-spacing: 5px;
}
p.barpatea {
	font-size: 35px;
		font-family: papyrus, fantasy;
		color: green;
}
img.barpatea {
	float: right;
		height: 350px;
		width: 350px;
}
p.barpaaddress {
		word-spacing: 5px;
}
p.barpar {
	font-size: 25px;
	line-height: 2;
	font-family: Times New Roman;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	text-indent: 50px;
	word-spacing: 5px;
}
p.sprinklesLand {
	font-size: 35px;
		font-family: papyrus, fantasy;
		color: #cc919a;
}
img.sprinklesLand {
		float: right;
		height: 350px;
		width: 350px;
}
p.sprinkleaddress {
	word-spacing: 5px;
}
p.sprinklepar {
	font-size: 25px;
	line-height: 2;
	font-family: Times New Roman;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	text-indent: 50px;
	word-spacing: 5px;
}
p.Ctea {
	font-size: 35px;
		font-family: papyrus, fantasy;
		color: #00D800;	
}
img.Ctea {
		float: right;
		height: 350px;
		width: 350px;
}
p.Cteaaddress {
	word-spacing: 5px;
}
p.Cteapar {
	font-size: 25px;
	line-height: 2;
	font-family: Times New Roman;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	text-indent: 50px;
	word-spacing: 5px;
}
p.stuffed {
	font-size: 35px;
		font-family: papyrus, fantasy;
		color: black;	
}
img.stuffed {
	float: right;
		height: 350px;
		width: 350px;
}
p.stuffedaddress {
	word-spacing: 5px;
}
p.stuffedpar {
	font-size: 25px;
	line-height: 2;
	font-family: Times New Roman;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	text-indent: 50px;
	word-spacing: 5px;
}
p.magnum {
		font-size: 35px;
		font-family: papyrus, fantasy;
		color: brown;
}
img.magnum {
		float: right;
		height: 350px;
		width: 350px;
}
p.magnumaddress {
	word-spacing: 5px;
}
p.magnumpar {
	font-size: 25px;
	line-height: 2;
	font-family: Times New Roman;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	text-indent: 50px;
	word-spacing: 5px;
}
p.bluestripes {
	font-size: 35px;
		font-family: papyrus, fantasy;
		color: blue;
}
img.bluestripes {
	float: right;
		height: 350px;
		width: 350px;
}
p.bluestripesaddress {
	word-spacing: 5px;
}
p.bluestripespar {
	font-size: 25px;
	line-height: 2;
	font-family: Times New Roman;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	text-indent: 50px;
	word-spacing: 5px;
}
p.malai {
	font-size: 35px;
		font-family: papyrus, fantasy;
		color: #FF8C00;
}
img.malai {
	float: right;
		height: 350px;
		width: 350px;
}
p.malaiaddress {
	word-spacing: 5px;
}
p.malaipar {
	font-size: 25px;
	line-height: 2;
	font-family: Times New Roman;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	text-indent: 50px;
	word-spacing: 5px;
}
p.vanleeuwen {
	font-size: 35px;
		font-family: papyrus, fantasy;
		color: black;
}
img.vanleeuwen {
	float: right;
		height: 350px;
		width: 350px;
}
p.vanaddress {
	word-spacing: 5px;
}
p.vanpar {
	font-size: 25px;
	line-height: 2;
	font-family: Times New Roman;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	text-indent: 50px;
	word-spacing: 5px;
}
p.amplehills {
	font-size: 35px;
		font-family: papyrus, fantasy;
		color: #72bcd4;
}
img.amplehills {
	float: right;
		height: 350px;
		width: 350px;
}
p.ampleaddress {
	word-spacing: 5px;
}
p.amplepar {
	font-size: 25px;
	line-height: 2;
	font-family: Times New Roman;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	text-indent: 50px;
	word-spacing: 5px;
}
p.wowfulls {
	font-size: 35px;
		font-family: papyrus, fantasy;
		color: black;
}
img.wowfulls {
	float: right;
		height: 350px;
		width: 350px;
}
p.wowfullsaddress {
	word-spacing: 5px;
}
p.wowfullspar {
	font-size: 25px;
	line-height: 2;
	font-family: Times New Roman;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	text-indent: 50px;
	word-spacing: 5px;
}
		font-size: 35px;
		font-family: papyrus, fantasy;
		color: purple;
}
img.softswerve {
		float: right;
		height: 350px;
		width: 350px;
}
p.soft {
	font-size: 25px;
	line-height: 2;
	font-family: Times New Roman;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	text-indent: 50px;
	word-spacing: 5px;
}
p.softaddress {
	word-spacing: 5px;
}
p.eggloo {
		font-size: 35px;
		font-family: papyrus, fantasy;
		color: #ffd700;
}
p.eggaddress {
	word-spacing: 5px;
}
img.eggloo {
		float: right;
		height: 350px;
		width: 350px;
}
p.egg {
		font-size: 25px;
	line-height: 2;
	font-family: Times New Roman;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	text-indent: 50px;
	word-spacing: 5px;
}
p.taiyaki {
		font-size: 35px;
		font-family: papyrus, fantasy;
		color: #ff00ff;
}
img.taiyaki {
		float: right;
		height: 350px;
		width: 350px;
}
p.taiyakiaddress {
	word-spacing: 5px;
}
p.taiyakipar {
	font-size: 25px;
	line-height: 2;
	font-family: Times New Roman;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	text-indent: 50px;
	word-spacing: 5px;
}
p.milkcream {
		font-size: 35px;
		font-family: papyrus, fantasy;
		color: blue;
}
img.milkcream {
		float: right;
		height: 350px;
		width: 350px;
}
p.mcaddress {
		word-spacing: 5px;
}
p.mcpar {
	font-size: 25px;
	line-height: 2;
	font-family: Times New Roman;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	text-indent: 50px;
	word-spacing: 5px;
}
p.barpatea {
	font-size: 35px;
		font-family: papyrus, fantasy;
		color: green;
}
img.barpatea {
	float: right;
		height: 350px;
		width: 350px;
}
p.barpaaddress {
		word-spacing: 5px;
}
p.barpar {
	font-size: 25px;
	line-height: 2;
	font-family: Times New Roman;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	text-indent: 50px;
	word-spacing: 5px;
}
p.sprinklesLand {
	font-size: 35px;
		font-family: papyrus, fantasy;
		color: #cc919a;
}
img.sprinklesLand {
		float: right;
		height: 350px;
		width: 350px;
}
p.sprinkleaddress {
	word-spacing: 5px;
}
p.sprinklepar {
	font-size: 25px;
	line-height: 2;
	font-family: Times New Roman;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	text-indent: 50px;
	word-spacing: 5px;
}
p.Ctea {
	font-size: 35px;
		font-family: papyrus, fantasy;
		color: #00D800;	
}
img.Ctea {
		float: right;
		height: 350px;
		width: 350px;
}
p.Cteaaddress {
	word-spacing: 5px;
}
p.Cteapar {
	font-size: 25px;
	line-height: 2;
	font-family: Times New Roman;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	text-indent: 50px;
	word-spacing: 5px;
}
p.stuffed {
	font-size: 35px;
		font-family: papyrus, fantasy;
		color: black;	
}
img.stuffed {
	float: right;
		height: 350px;
		width: 350px;
}
p.stuffedaddress {
	word-spacing: 5px;
}
p.stuffedpar {
	font-size: 25px;
	line-height: 2;
	font-family: Times New Roman;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	text-indent: 50px;
	word-spacing: 5px;
}
p.magnum {
		font-size: 35px;
		font-family: papyrus, fantasy;
		color: brown;
}
img.magnum {
		float: right;
		height: 350px;
		width: 350px;
}
p.magnumaddress {
	word-spacing: 5px;
}
p.magnumpar {
	font-size: 25px;
	line-height: 2;
	font-family: Times New Roman;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	text-indent: 50px;
	word-spacing: 5px;
}
p.bluestripes {
	font-size: 35px;
		font-family: papyrus, fantasy;
		color: blue;
}
img.bluestripes {
	float: right;
		height: 350px;
		width: 350px;
}
p.bluestripesaddress {
	word-spacing: 5px;
}
p.bluestripespar {
	font-size: 25px;
	line-height: 2;
	font-family: Times New Roman;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	text-indent: 50px;
	word-spacing: 5px;
}
p.malai {
	font-size: 35px;
		font-family: papyrus, fantasy;
		color: #FF8C00;
}
img.malai {
	float: right;
		height: 350px;
		width: 350px;
}
p.malaiaddress {
	word-spacing: 5px;
}
p.malaipar {
	font-size: 25px;
	line-height: 2;
	font-family: Times New Roman;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	text-indent: 50px;
	word-spacing: 5px;
}
p.vanleeuwen {
	font-size: 35px;
		font-family: papyrus, fantasy;
		color: black;
}
img.vanleeuwen {
	float: right;
		height: 350px;
		width: 350px;
}
p.vanaddress {
	word-spacing: 5px;
}
p.vanpar {
	font-size: 25px;
	line-height: 2;
	font-family: Times New Roman;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	text-indent: 50px;
	word-spacing: 5px;
}
